.colone-ticket {
  /* display: flex;
  flex-direction: column; */
  /*
     FIXME: The width works correctly only when each column is 450px. Need to investigate why this happens
    */
  flex: 0 0 340px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.scrollable-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
