.body-login {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  background: url("https://storage.googleapis.com/pandatur_bucket/utils/Panda%20Tur%20Logo%20Blur.png")
    no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: overlay;
}

.body-login-form {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0;
  box-shadow: none;
  padding: 39.7px;
  width: 35%;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.5s ease;
}
