.container-extra-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px solid #ddd;
  border-radius: 8px;
  padding: 5px;
}

.leads-modal-filter-tabs .mantine-Tabs-panel[data-orientation="horizontal"] {
  height: calc(100% - 36px);
}

.leads-modal-filter-tabs .mantine-Tabs-root[data-orientation="vertical"] {
  height: 100%;
}
