.chat-item {
  transition:
    background-color 0.3s,
    color 0.3s;
}

.chat-item.active {
  background-color: #eee;
}

.chat-item:hover {
  background-color: #eee;
  color: black;
}

.chat-item .mark-seen-message-button {
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.chat-item .right:hover .right-count {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.chat-item .right:hover .mark-seen-message-button {
  opacity: 1;
}
