.chat-item {
  cursor: pointer;
  background-color: #f0f0f0;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.chat-item.active {
  background-color: #0f824c77;
  color: #ffffff;
}

.chat-item:hover {
  background-color: #f1f5ff;
  color: black;
}
