.chat-item {
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
}

.chat-item.active {
  background-color: #e6f4ea;
  border-left: 4px solid #2f9e44;
}

.chat-item:hover {
  background-color: #f1f3f5;
  color: black;
}

.chat-item .right-count {
  transition: opacity 0.3s ease;
}