.ps-sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.ps-sidebar-container .logo-menu {
  margin-bottom: 30px;
}

.ps-sidebar-container .ps-menuitem-root .ps-menu-button {
  transition: 0.3s ease;
}

.ps-sidebar-container .ps-menuitem-root .ps-menu-button:hover {
  background-color: #131820;
}

.ps-sidebar-container .ps-menuitem-root .ps-menu-button.ps-active {
  background-color: #0f824c;
  color: white;
}

.ps-sidebar-container .ps-menuitem-root .ps-menu-button.ps-active:hover {
  background-color: #0f824c;
  color: white;
}

.ps-sidebar-root.css-1wvake5 {
  border-right: none;
}
