a {
  text-decoration: none;
}

/* Leads Page */

.leads-container {
  margin-top: 66px;
  height: calc(100% - calc(var(--leads-filter-height) + 10px));
  padding-top: 10px;
}

/* Chat Page */

.chat-wrapper {
  flex: 1;
}

/* Mobile scroll styles */
.mobile-scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

.mobile-scroll-container::-webkit-scrollbar {
  width: 6px;
}

.mobile-scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.mobile-scroll-container::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 3px;
}

.mobile-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

.chat-container {
  display: flex;
  height: 100%;
  width: 100%;
  /* TODO: Use `overflow: hidden` as a temporary
      workaround, further investigation is needed
      to identify the root cause.
  */
  overflow: hidden;
}

.chat-extra-info-scroll-area>div>div {
  height: calc(100% - 50px);
}

/* Dashboard Page */

.dashboard-container-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.dashboard-layout>div {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-align: center;
  background-color: white;
  padding: 12px;
  cursor: pointer;
}

.react-grid-layout {
  width: 100%;
  height: auto;
  position: relative;
}

.dashboard-loading {
  height: calc(100% - (42px + 66px + 20px));
}

/* Utility class names */

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.white-space-nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.h-full {
  height: 100%;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.min-w-300 {
  min-width: 350px;
}

.w-full {
  width: 100%;
}

.break-word {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}