.chat-wrapper {
  flex: 1;
}

.chat-container {
  display: flex;
  height: 100%;
  width: 100%;
  /* TODO: Use `overflow: hidden` as a temporary
      workaround, further investigation is needed
      to identify the root cause.
  */
  overflow: hidden;
}

.text-message {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
  border-radius: 22px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: #0b5c36;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0f824c9c;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.hidden {
  display: none;
}

.invalid-field {
  border: 2px solid red !important;
  background-color: #ffe6e6;
}

.invalid-field select {
  border-color: red !important;
}

.chat-extra-info-scroll-area > div > div {
  height: calc(100% - 50px);
}
